<div class="d-flex">
    <div class="w-50">
        <app-students
            (correctorData)="setData($event)"
        ></app-students>
    </div>
    <div class="w-50">
        <app-school
            #school
        ></app-school>
    </div>
</div>
<div class="d-flex justify-content-end">
    <div class="d-flex">
        <button class="mx-2" mat-button>Save</button>
        <button class="mx-2" mat-button>Save & Leave</button>
        <button  mat-button>Send Notificaitons</button>
    </div>
</div>