<div class="text-white">List of ALL Students preparing S-TFT 4</div>
<div>
    <div class="d-flex justify-content-end">
        <mat-form-field appearance="fill">
            <mat-select>
              <mat-option value="">
                Comma[,]
              </mat-option>
            </mat-select>
          </mat-form-field>
        <button mat-button class="mx-2"> Export CSV</button>
        <button mat-button class="mx-2"> Reset</button>
    </div>

    <div>
        <table mat-table [dataSource]="dataSource" class="w-100">

            <ng-container matColumnDef="student">
              <th mat-header-cell *matHeaderCellDef> 
                  <div>
                       Students
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search" [(ngModel)]="filter.student_full_name" (ngModelChange)="filterTable()">
                      </mat-form-field>
                  </div>
                </th>
              <td mat-cell *matCellDef="let element"> 
                  <span class="text-uppercase" style="margin-right: 5px;">{{element.student_id.last_name}}</span>
                  <span>{{element.student_id.first_name}}</span>
                </td>
            </ng-container>
          
            <ng-container matColumnDef="school_ori">
              <th mat-header-cell *matHeaderCellDef> 
                  <div>
                       Schools Origin
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                        <input type="text"
                               placeholder="Search"
                               aria-label="Number"
                               [(ngModel)]="filter.school_name" (ngModelChange)="filterTable()"
                               matInput
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let item of sch" [value]="item.school.short_name">
                                {{item.school.short_name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                  </div>
                </th>
              <td mat-cell *matCellDef="let element"> {{element.school_origin_id.short_name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="school_correcting">
              <th mat-header-cell *matHeaderCellDef> 
                  <div>
                       School Correcting
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                        <input type="text"
                               placeholder="Search"
                               aria-label="Number"
                               matInput
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option >
                                asdasd
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                  </div>
                </th>
              <td mat-cell *matCellDef="let element; let idx = index;"> 
                    <ng-select [items]="element.otherSchool"
                            bindLabel="label"
                            bindValue="value"
                            [(ngModel)]="element.school_correcting_id"
                            (ngModelChange)="changeSchool($event, idx)"
                    >
                    </ng-select>
              </td>
            </ng-container>
          
            <ng-container matColumnDef="cross_corrector">
              <th mat-header-cell *matHeaderCellDef> 
                  <div>
                       Cross Corrector
                  </div>
                  <div>
                    <mat-form-field class="example-full-width">
                        <input type="text"
                               placeholder="Search"
                               aria-label="Number"
                               matInput
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option >
                                asdasd
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                  </div>
                </th>
              <td mat-cell *matCellDef="let element">
                <ng-select [items]="element.correctorList"
                    bindLabel="label"
                    bindValue="value"
                    [(ngModel)]="element.school_correcting_corrector_id"
                    (ngModelChange)="sendData()"
                    >
                </ng-select>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
        </div>
        <div class="d-flex justify-content-space-between">
            <div>
              {{data.length}} total / {{16 - countToBeAssign()}} remain to be assigned
            </div>
            <div>
                <div class="pgnt">
                    <mat-paginator 
                    [pageSize]="7"
                    class="oct-table-page"
                    >
                    </mat-paginator>
                </div>
            </div>
        </div>
</div>